<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>EndpointsServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>com.falack.connecting.Greetings</param-value>
    </init-param>
    <init-param>
      <param-name>restricted</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndpointsServlet</servlet-name>
    <url-pattern>/_ah/api/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>This page describes the purpose of the whole project</description>
    <display-name>PurposeServlet</display-name>
    <servlet-name>PurposeServlet</servlet-name>
    <servlet-class>com.falack.promotion.basicactions.PurposeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurposeServlet</servlet-name>
    <url-pattern>/purpose</url-pattern>
  </servlet-mapping>

  <!-- [START config] -->

   <context-param>
       <param-name>sql.urlRemote</param-name>
       <param-value>jdbc:mysql://google/${sql.dbName}?cloudSqlInstance=${sql.instanceName}&amp;socketFactory=com.google.cloud.sql.mysql.SocketFactory&amp;user=${sql.userName}&amp;password=${sql.password}</param-value>
   </context-param>
  
  <!-- [END config] -->
   
    
</web-app>